body{
    background-color: rgb(37, 36, 36);    
    background-color: black;
    margin: 0 20px 20px 20px;
}
h1,h2,h3,h4{
    color: white;
}     
.gallery{
    display: grid;
    grid-auto-rows: 14rem;/*alto de las columnas*/
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)) !important;
}
.featured{
    grid-column: span 1;
    border: 1px solid grey;
    color: white;
    border-radius: 10px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform ease .5s, box-shadow ease .5s;
}
.featured:hover{
    /*box-shadow: 0 0 5px 5px rgba(252, 251, 251, 0.2);
    transition : box-shadow ease-in-out .5s;*/
    transform: translateY(-5px);
    box-shadow: 0px 1px 10px 1px rgba(252, 251, 251, 0.5);
}
.featured img{
    padding-left: 19%;
    width: 60%;
    height: 70%;
    margin-top: 12px;
    filter: invert();
}
.featured .title{
    text-align: center;
}
.scale-up-center:hover{
    cursor: pointer;
	animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}
#general, #eventos, #turnos, #gastos{
    display: none;
    margin-top: 15px;
    border-radius: 10px;
    height: 45vh;
}
/*GENERAL*/
#general{
    overflow-x: scroll;
    display: grid;

    gap: 1rem;
    grid-auto-rows: 28rem;/*alto de las columnas*/
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
}
#general .grid-general{
    grid-column: span 1;
    color: white;
    border: 1px solid white;
    margin: 10px 5px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    height: 40vh;
}
.cabecera-general, .cabecera-actualizado, .cabecera-monto{
    text-align: center;
    white-space: nowrap;
}
.cabecera-general{
    margin-top: 30px;
    font-size: 2.5em;
}
.cabecera-actualizado{
    margin-top: 10px;
    font-size: .8em;
}
.cabecera-monto{
    margin-top: 30%;
    font-size: 4em;
}
.dia_por_definir{
    margin-top: 5px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
.lugar_por_definir{
    margin-top: 15px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
.grid-general .cumples{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: 6%;
    height: 65%;
    width: 85%;
    overflow: scroll;
}
.grid-general .cumples div{
    height: auto;
    margin-left: 5px;
}
.grid-general .cumples div div{
    margin-top: -15px;
}
.caja-detalle-gastos{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: 6%;
    height: 65%;
    width: 85%;
    overflow: scroll;
}
.total-gastos{
    margin-top: 5px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
/*EVENTOS*/
#eventos{
    overflow-x: scroll;
    display: grid;
    gap: 0.1rem;
    grid-auto-rows: 18.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
#eventos .eventos_grid{
    grid-column: span 1;
    color: white;
    border: 1px solid white;
    margin: 10px 5px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}
#eventos .eventos_grid > h1,p,.logo,.texto1,.texto2,.texto3{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
}
#eventos .eventos_grid > .logo{
    top: 63%;
    object-fit: cover;
    width: 110px;
    height: 125px;
    border: 1px solid white;
}
#eventos .eventos_grid > h1{
    top: 5%;
    font-size: 1.5em;
}
#eventos .eventos_grid > p{
    top: 50px;
}
#eventos .eventos_grid > .texto1{
    top: 90px;
}
#eventos .eventos_grid > .texto2{
    top: 150px;
}
#eventos .eventos_grid > .texto3{
    top: 250px;
    font-size: 13px;
}
#eventos .imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 20%;
    border-radius: 10px;
}
#eventos .imagen:hover{
    opacity: 50%;
}
/*TURNOS*/
#turnos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1.7rem 1.7rem 2rem 2rem ;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.grid-turnos-anos{
    text-align: center;
    grid-column: span 4;
    color: white;
    margin-left: 0px;
    margin-right: .2%;
    margin-top: 0px;
    max-width: 100%;
    overflow-x: scroll;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 2px;
}
.grid-turnos-anos:hover{
    cursor: pointer;
}
.grid-turnos-meses{
    grid-column: span 1;
    color: white;
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 0.5fr));
    grid-gap: 5px;
    height: auto;
}
.mes{
    text-align: center;
    border-radius: 5px;
    border: 1px solid green;
    grid-column: span 1;
    padding-top: 3.5%;
}
.mes:hover{
    cursor: pointer;
}
#meses_2023 > div{
    color: greenyellow;
}
#meses_2024 > div{
    color: orange;
}
.enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 26vh;
    overflow-x: scroll;
    color: white;
}
/*CUOTAS*/
#gastos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1.7rem 1.7rem 1.7rem 1.7rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    height: 10vh;
}
.grid-gastos-anos{
    text-align: center;
    grid-column: span 1;
    color: white;
    margin-left: 0px;
    margin-right: .2%;
    margin-top: 0px;
    max-width: 100%;
    overflow-x: scroll;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 2px;

}
.grid-gastos-anos:hover{
    cursor: pointer;
}
.t_2021, .t_2022, .t_2023, .t_2024{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 28vh;
    overflow-x: scroll;
    color: white;
}

table, th, td{
    border: 1px solid grey;
}
th{
    padding: 0 10px;
}
td{
    text-align: center;
}
.sticky{
    position: sticky;
    left: 0;
    background-color: #242425;
}
@keyframes scale-up-center {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }

@media (min-width: 855px){
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
    .featured{
        grid-column: span 2;
    }
    .featured img{
        padding-left: 28%;
        width: 40%;
        height: 50%;
        margin-top: 12px;
        filter: invert();
    }
    .featured .title{
        margin-top: 10%;
        font-size: 1.5em;
    }
    #general{
        overflow-x: scroll;
        display: grid;
        gap: 0.1rem;
        grid-auto-rows: 28rem;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
    #general .grid-general{
        grid-column: span 2;
    }
}
@media (min-width: 750px){
    .gallery{
        gap: 1rem;
        grid-auto-rows: 14rem;
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)) !important;
    }
    .featured{
        grid-column: span 2;
    }
    .featured .title{
        margin-top: 6%;
    }
    #general{
        overflow-x: scroll;
        display: grid;
    
        gap: 1rem;
        grid-auto-rows: 30rem;/*alto de las columnas*/
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
    }
    #general .grid-general{
        grid-column: span 2;
        color: white;
        border: 1px solid white;
        margin: 10px 5px;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        height: 40vh;
    }
    .enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
        margin-top: 50px;
    }
    
}
@media (max-width: 695px){
    .gallery{
        gap: 1rem;
        grid-auto-rows: 10rem;
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)) !important;
    }
    .featured{
        grid-column: span 2;
    }
    .featured img{
        padding-left: 19%;
        width: 60%;
        height: 70%;
        margin-top: 12px;
        filter: invert();
    }
    #general{
        grid-auto-rows: 24rem;/*alto de las columnas*/
    }
    #general .grid-general{
        grid-column: span 2;
    }
    .enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
        margin-top: 90px;
    }
    #gastos{
        display: grid;
        gap: 1rem;
        grid-auto-rows: 1.7rem 1.7rem 1.7rem 1.7rem ;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .grid-gastos-anos{
        grid-column: span 0;
    }
    .t_2021, .t_2022, .t_2023, .t_2024{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
