body{
    /* background-color: rgb(37, 36, 36);     */
    background-color: black;
    margin: 0 8px 8px 8px;
    /* width: 80%; */
    /* border: 1px solid red; */
}
h1,h2,h3,h4{
    color: white;
}     
.gallery{
    display: grid;
    grid-auto-rows: 14rem;/*alto de las columnas*/
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)) !important;
    /* border: 1px solid red; */
}
.featured{
    grid-column: span 1;
    border: 1px solid grey;
    color: white;
    background: black;
    border-radius: 10px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform ease .5s, box-shadow ease .5s;
}
.logo_circulo{
    /* filter:drop-shadow(1px 1px 3px rgb(246, 184, 28)); */
    /* filter:drop-shadow(2px 2px 4px orange); */
    /* animation: shadow-pulse 10s ease-in-out infinite alternate; */
    animation: shadow-pulse .8s ease infinite alternate-reverse;
}
@keyframes shadow-pulse {
    0% {
        filter: drop-shadow(2px 2px 4px orange);
    }
    20% {
        filter: drop-shadow(2px 2px 4px rgb(251, 255, 0));  
    }
    40% {
      filter: drop-shadow(2px 2px 4px rgb(21, 128, 0));
    }
    60% {
        filter: drop-shadow(2px 2px 4px rgb(235, 4, 4));
    }
    80% {
        filter: drop-shadow(2px 2px 4px rgb(194, 3, 194));
    }
    100% {
        filter: drop-shadow(2px 2px 4px rgb(0, 255, 242));
    }
  }
.featured:hover{
    /* transform: translateY(-5px); */
    /* box-shadow: 0px 0px 10px 3px rgb(246, 184, 28); */
    /* background-color: #41414482; */
    /* box-shadow: 0px 0px 3px 3px rgb(251, 253, 252); */
    animation: feature 0.5s ease infinite alternate-reverse;
}
@keyframes feature {
    0% {
        box-shadow: 0px 0px 3px 3px rgb(251, 253, 252);
        transform: scale(0.97);
    }
    20% {
        box-shadow: 0px 0px 3px 3px rgb(251, 255, 0); 
    }
    40% {
      box-shadow: 0px 0px 3px 3px rgb(21, 128, 0); 
    }
    60% {
        box-shadow: 0px 0px 3px 3px rgb(235, 4, 4); 
    }
    80% {
        box-shadow: 0px 0px 3px 3px rgb(194, 3, 194); 
    }
    100% {
        box-shadow: 0px 0px 3px 3px rgb(0, 255, 242); 
        transform: scale(1);
    }
  }
.featured img{
    padding-left: 19%;
    width: 60%;
    height: 70%;
    margin-top: 12px;
    filter: invert();
}
.featured .title{
    text-align: center;
}
.featured .title_e{
    position: relative;
    top: -60% !important;
    left: 50%;
    font-size: 14px;
    cursor: pointer;
}

.featured .title_f{
    position: relative;
    top: -7%;
    left: 20%;
    font-size: 18px;
    cursor: pointer;
}
.scale-up-center:hover{
    cursor: pointer;
	animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}
#logo_eventos{
    cursor: default;
}
@keyframes scale-up-center {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }
#general, #eventos, #turnos, #gastos{
    display: none;
    margin-top: 15px;
    /*height: 15vh;
    border: 1px solid red;*/
}
/*GENERAL*/
#general{
    overflow-x: scroll;
    display: grid;
    gap: 1rem !important;
    grid-auto-rows: 10rem !important;/*alto de las columnas*/
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)) !important;
    max-height: 43vh;
}
#general .grid-general{
    grid-column: span 1;
    color: white;
    border: 1px solid white;
    height: 43vh !important;
    margin: 10px 5px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    /* border: 1px solid red !important; */
}
.cabecera-general, .cabecera-actualizado, .cabecera-monto{
    text-align: center;
    white-space: nowrap;
}
.cabecera-general{
    margin-top: 30px;
    font-size: 2.5em;
}
.cabecera-actualizado{
    margin-top: 10px;
    font-size: .8em;
}
.cabecera-monto{
    margin-top: 30%;
    font-size: 4em;
}
.dia_por_definir{
    margin-top: 5px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
.lugar_por_definir{
    margin-top: 15px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
.grid-general .cumples{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: 6%;
    height: 65%;
    width: 85%;
    overflow: scroll;
}
.grid-general .cumples div{
    height: auto;
    margin-left: 5px;
}
.grid-general .cumples div div{
    margin-top: -15px;
}
.contenedor-estatuto{
    /* border: 1px solid red !important; */
    margin-left: 2%;
    height: 70%;
    width: 87%;
    overflow: scroll;
}
.caja-detalle-gastos{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: 6%;
    height: 68%;
    width: 91%;
    overflow: scroll;
}
.caja-detalle-gastos ul{
    margin-left: -30px;
}
.total-gastos{
    margin-top: 5px;
    font-size: 1.7em;
    white-space: nowrap;
    text-align: center;
}
/*EVENTOS*/
#eventos{
    overflow-x: scroll;
    display: grid;
    gap: 0.1rem;
    grid-auto-rows: 18.5rem;
    max-height: 320px;
    border-radius: 0;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
#eventos .eventos_grid{
    grid-column: span 1;
    color: white;
    border: 1px solid white;
    margin: 10px 5px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}
#fichas{
    overflow-x: scroll;
    display: grid;
    gap: 0.1rem;
    grid-auto-rows: 8rem;
    max-height: 250px;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin-top:15px; 
}
#fichas .fichas_grid{
    text-align: center;
    grid-column: span 1;
    color: white;
    border: 1px solid white;
    margin: 10px 5px;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    max-height: 100px;
}
#fichas .fichas_grid > h1,p,.logo_ficha,.texto1,.texto2,.texto3,.texto4{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fichas .fichas_grid > .logo_ficha{
    top: 58%;
    object-fit: cover;
    width: 110px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 40%;
}
#fichas .fichas_grid > .logo_ficha:hover{
    opacity: 100%;
}
#fichas_detalle{
    /* overflow-x: scroll; */
    max-height: 300px;
    height: 1000px;
    border-radius: 8px; 
    /* border: 1px solid red; */
    background-color: white;
}
.deta{
    overflow-x: scroll;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 15rem;
    max-height: 270px;
    height: 300px;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin-top: 0px;
    /* border: 1px solid blue; */
    border-radius: 8px;
}
.columna_detalle{
    text-align: center;
    grid-column: span 1;
    color: rgb(68, 64, 64);
    /* border: 1px solid black; */
    margin: 10px 5px;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    height: 240px;
}
.semaforo{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid grey;
}
#simbologia_bueno{
    position: relative;
    top: 5px;
    left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}
#simbologia_regular{
    position: relative;
    top: 5px;
    left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}
#simbologia_cambiar{
    position: relative;
    top: 5px;
    left: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
#eventos .eventos_grid > h1,p,.logo,.texto1,.texto2,.texto3,.texto4{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
}
#eventos .eventos_grid > .logo{
    top: 63%;
    object-fit: cover;
    width: 110px;
    height: 125px;
    border: 1px solid white;
}
#eventos .eventos_grid > h1{
    top: 5%;
    font-size: 1.5em;
}
#eventos .eventos_grid > p{
    top: 50px;
}
#eventos .eventos_grid > .texto1{
    top: 90px;
}
#eventos .eventos_grid > .texto2{
    top: 150px;
}
#eventos .eventos_grid > .texto4{
    top: 190px;
    font-size: 15px;
}
#eventos .eventos_grid > .texto3{
    top: 250px;
    font-size: 13px;
}
#eventos .imagen{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 20%;
    border-radius: 10px;
}
#eventos .imagen:hover{
    opacity: 50%;
}
/*TURNOS*/
#turnos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1.7rem 1.7rem 2rem 2rem ;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.grid-turnos-anos{
    text-align: center;
    grid-column: span 2;
    color: white;
    margin-left: 0px;
    margin-right: .2%;
    margin-top: 0px;
    max-width: 100%;
    overflow-x: scroll;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 2px;
}
.grid-turnos-anos:hover{
    cursor: pointer;
}
.grid-turnos-meses{
    grid-column: span 1;
    color: white;
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 0.5fr));
    grid-gap: 5px;
    height: auto;
}
.mes{
    text-align: center;
    border-radius: 5px;
    border: 1px solid green;
    grid-column: span 1;
    padding-top: 3.5%;
}
.mes:hover{
    cursor: pointer;
}
#meses_2023 > div{
    color: greenyellow;
}
#meses_2024 > div{
    color: orange;
}
.enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 26vh;
    overflow-x: scroll;
    color: white;
}
/*CUOTAS*/
#gastos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1.7rem 1.7rem 1.7rem 1.7rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    height: auto;
    /* border: 1px solid red; */
    margin-bottom: 1% !important;
}
.grid-gastos-anos{
    text-align: center;
    grid-column: span 1;
    color: white;
    margin-left: 0px;
    margin-right: .2%;
    margin-top: 0px;
    max-width: 100%;
    overflow-x: scroll;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 2px;

}
.grid-gastos-anos:hover{
    cursor: pointer;
}
.t_2021, .t_2022, .t_2023, .t_2024{
    grid-column-start: 1;
    grid-column-end: 5;
    height: auto !important;
    overflow-x: scroll;
    color: white;
    /* border: 1px solid red; */
    margin-top: 1% !important;
}

table, th, td{
    border: 1px solid grey;
}
th{
    padding: 0 10px;
}
td{
    text-align: center;
}
.sticky{
    position: sticky;
    left: 0;
    background-color: #242425;
}
.modal {
    border: 3px solid; 
    border-radius: 8px;
    display: none;
    background-color: white;
    text-align: center;
    margin: 10px 15px 10px 15px;
}
.close {
    color: red;
    font-size: 25px;
}
.close:hover {
    cursor: pointer;
    font-weight: bold;
}
.cara{
    display: inline-block;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-6px);
    }
    60% {
      transform: translateY(-2px);
    }
  }
@media (min-width: 855px){
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    }
    .featured{
        grid-column: span 2;
    }
    .featured img{
        padding-left: 28%;
        width: 40%;
        height: 50%;
        margin-top: 12px;
        filter: invert();
    }
    .featured .title{
        margin-top: 10%;
        font-size: 1.5em;
    }
    .featured .title_e{
        margin-top: 10%;
        font-size: 1.5em;
        top: -55%;
        left: 50%;
    }
    .featured .title_f{
        top: -12% !important;
        font-size: 24px !important;
    }
    /* #general{
        overflow-x: scroll;
        display: grid;
        gap: 0.1rem;
        grid-auto-rows: 28rem;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        border: 1px solid green;
    }
    #general .grid-general{
        grid-column: span 2;
    } */
}
@media (min-width: 750px){/*Iphone 12 horizontalx*/
    .gallery{
        gap: 1rem;
        grid-auto-rows: 14rem;
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)) !important;
    }
    .featured{
        grid-column: span 2;
    }
    .featured .title{
        margin-top: 6%;
    }
    .featured .title_e{
        margin-top: 6%;
        left: 50%;
    }
    .featured .title_f{
        top: -7%;
        font-size: 16px;
    }
    #general{
        grid-auto-rows: 26rem !important;
        max-height: 46vh;
    }
    #general .grid-general{
        grid-column: span 2;
        font-size: .7em;
    }
    /* #general{
        overflow-x: scroll;
        display: grid;
        height: 120vh;
        gap: 1rem !important;
        grid-auto-rows: 24rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
        border: 1px solid red;
    }
    #general .grid-general{
        grid-column: span 2;
        color: white;
        border: 1px solid white;
        margin: 10px 5px;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        height: 100vh;
    } */
    #eventos{
        height: 120vh;
    }
    .enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
        margin-top: 50px;
        height: 66vh;
    }
    .t_2021, .t_2022, .t_2023, .t_2024{
        margin-top: 16vh;
        grid-column-start: 1;
        grid-column-end: 5;
        height: 58vh;
    }
    
}
@media (max-width: 695px){
    .gallery{
        gap: 1rem;
        grid-auto-rows: 14rem;/*alto de las columnas*/
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)) !important;
    }
    .featured{
        grid-column: span 2;
    }
    .featured img{
        padding-left: 19%;
        width: 60%;
        height: 70%;
        margin-top: 12px;
        filter: invert();
    }
    .featured .title{
        font-size: 12px;
    }
    .featured .title_e{
        left: 50%;
        width: 20%;
        font-size: 12px;
    }
    .featured .title_f{
        top: -7%;
        left: 20%;
        width: 20%;
        font-size: 12px;
    }
    #general{
        grid-auto-rows: 26rem !important;
        max-height: 46vh;
    }
    #general .grid-general{
        grid-column: span 2;
        font-size: .7em;
    }
    .enero_2023, .febrero_2023, .marzo_2023, .abril_2023, .mayo_2023, .junio_2023, .julio_2023, .agosto_2023, .septiembre_2023, .octubre_2023, .noviembre_2023, .diciembre_2023, .enero_2024, .febrero_2024, .marzo_2024, .abril_2024, .mayo_2024, .junio_2024, .julio_2024, .agosto_2024, .septiembre_2024, .octubre_2024, .noviembre_2024, .diciembre_2024{
        margin-top: 90px;
    }
    #eventos .eventos_grid > h1{
        font-size: 18px;
    }

      th, td {
        text-align: left;
        padding: 8px;
      }
      td {
        white-space: nowrap;
      }
      
      /* tr:nth-child(even) {background-color: #f2f2f2;} */
      .gallery {
          margin-top: 10px;
          /* border: 1px solid green; */
          display: grid;
          gap: 1rem;
          grid-template-columns: auto repeat(auto-fill, 1fr) auto;
          grid-auto-rows: 10rem;
          /*grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem)), 1fr);*/
          
      }
      
      .featured {
          grid-column: span 2;
          /* border: 1px solid yellow; */
          color: white;
      }
    }