.row.header {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto; /* Habilitar scroll horizontal */
    padding: 10px;
    width: 100%;
    min-width: 300px; /* Asegura que el contenedor tenga un tamaño mínimo */
}

.icon-container {
    display: flex;
    flex-wrap: nowrap; /* Para que los iconos no se dividan en varias filas */
    gap: 20px; /* Espacio entre los iconos */
    min-width: 100%; /* Para asegurarse de que ocupe el 100% del ancho disponible */
}

.icon-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-item img {
    width: 10vw; /* Responsivo: el tamaño de los iconos será un 10% del ancho de la ventana */
    height: auto; /* Mantiene la proporción original del icono */
    margin-bottom: 5px;
    max-width: 50px; /* Limita el tamaño máximo de los iconos */
    min-width: 30px; /* Limita el tamaño mínimo de los iconos */
}

.icon-item span {
    font-size: 1.2vw; /* El tamaño del texto también es responsivo */
    color: #333;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

/* Ajuste responsivo para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    .row.header {
        width: 95.5%;
    }
}

/* Ajuste responsivo para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .row.header {
        width: 9%;
    }
}