body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.row.header {
    height: 250px !important;
    display: flex;
    overflow-x: auto;
    gap: 5px;
    /* padding: 10px 0; */
    /* justify-content: center; */
    background-color: #f0f0f0;
    /* height: auto; Quitar la altura fija */
    flex-wrap: nowrap; /* No permitir el salto de línea */
    overflow-x: auto; /* Hacer scroll horizontal si el contenido excede */
    justify-content: flex-start; /* Alinear los elementos al principio */
    padding: 10px;
}
.month-table {
    border-collapse: collapse;
    height: 240px;
    width: 300px;
    min-width: 300px;
    margin: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.month-table th, .month-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

/* Cabecera del mes y año */
.month-header {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0;
    background-color: #007BFF;
    color: white;
}

/* Cabeceras de los días */
.month-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Domingo en color rojo */
.month-table th:nth-child(7),
.month-table td:nth-child(7) {
    color: red;
}

/* Día actual con fondo verde */
.today {
    background-color: rgba(0, 128, 0, 0.5);
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .month-table th {
    background-color: #333;
}

body.dark-mode .month-header {
    background-color: #444;
    color: #e0e0e0;
}
/* Dark Mode: Estilo para mes, año y días (excepto Dom) en blanco */
body.dark-mode .month-table th:not(:nth-child(7)),
body.dark-mode .month-table td:not(:nth-child(7)) {
    color: white;
}

/* Ajustar para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .row.header {
        display: flex; 
        flex-wrap: nowrap; /* Mantener los meses en una sola fila */
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        justify-content: flex-start !important; /* Alinear los elementos al principio */
        padding: 10px;
    }

    .month-table {
        width: 100%; /* Ajustar el ancho de la tabla para que ocupe el 100% del contenedor */
        min-width: 250px; /* Establecer un ancho mínimo razonable */
        margin: 0 10px; /* Separar las tablas entre sí */
    }

    .month-table th, .month-table td {
        font-size: 0.9em; /* Reducir el tamaño de fuente */
        padding: 5px; /* Reducir el padding */
    }

    .month-header {
        font-size: 1em; /* Ajustar tamaño de la cabecera */
    }
}

