.custom-list {
    list-style: none;
    padding-left: 0;
    font-family: Arial, sans-serif;
}

.custom-list ul {
    list-style: none;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 2px solid #ddd;
    display: none;
}

.custom-list li {
    margin: 6px 0;
    text-align: left;
}

/* SOLO cambia el texto del nivel actual */
.custom-list li span {
    cursor: pointer;
    transition: color 0.2s ease;
}

.custom-list li span:hover {
    color: #007bff;
}

/* Negrita solo nivel principal */
.custom-list > li > span {
    font-weight: bold;
}

.row.content {
    display: flex;
    flex-direction: column;
}

.paragraph, .reunion {
    width: 100%;
}
/* Contenedor del PDF */
.reunion {
    width: 100%; /* Ocupa el 90% del ancho de la ventana */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    height: 70vh; /* Ocupa el 90% de la altura de la ventana */
    overflow: auto; /* Agrega barra de desplazamiento si el contenido excede el tamaño */
    padding: 10px; /* Agrega un pequeño padding para separar el contenido */
    background-color: #f5f5f5; /* Opcional, color de fondo */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    border: 1px solid red;


    display: block;
    clear: both; /* 👈 clave si hay floats */
    margin-top: 15px;
}

/* Estilo para los canvas (las páginas del PDF) */
.reunion canvas {
    padding-top: 33px;
    width: 100%; /* Hace que cada página del PDF ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto de cada página */
    margin-bottom: 10px; /* Espacio entre páginas */
}