body{
    background-color: black;    
    margin: 0 50px 20px 50px;
}
h1,h2,h3,h4{
    color: white;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 4; 
        text-align: center;
        border: 1px solid red;
        padding-top: 30px;
    }
    .div2 { 
        grid-area: 2 / 1 / 3 / 2; 
        border: 1px solid red;
    }
    .div3 { 
        grid-area: 2 / 2 / 3 / 3; 
        border: 1px solid red;
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        border: 1px solid red;
    }
    .div5 { 
        grid-area: 3 / 1 / 4 / 4; 
        text-align: center;
        max-width: 100%;
        overflow-x: scroll;
        border-left: 1px solid white;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        color: grey;
        border: 1px solid grey;
        border-left: none;
      }
    table .sticky {
        position: sticky;
        left: 0;
    }  
    table thead tr th{
        border: 1px solid white;
    }  
    table thead tr th:nth-child(1n) {
        border-left: none;
    }
    table thead tr:nth-child(3n) > th{
        white-space: nowrap;
    }
    table tbody tr:nth-child(2n){
        background: #2f2f2f;
    }

    table thead tr:nth-child(2n) .sticky{
        background: black;
    }
    table tbody tr .sticky{
        background: black;
        border-right: 1px solid white;
    }
    table tbody tr:nth-child(2n) .sticky{
        background: #2f2f2f;
        border-right: 1px solid white;
    }

      th, td {
        text-align: left;
        padding: 8px;
      }
      td {
        white-space: nowrap;
      }
      
      /* tr:nth-child(even) {background-color: #f2f2f2;} */
      .gallery {
          margin-top: 10px;
          border: 1px solid green;
          display: grid;
          gap: 1rem;
          grid-template-columns: auto repeat(auto-fill, 1fr) auto;
          grid-auto-rows: 10rem;
          /*grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem)), 1fr);*/
          
      }
      .featured {
          grid-column: span 2;
          border: 1px solid yellow;
          color: white;
      }